:root {
    --background: white;
    --header-background: white;
    --footer-background: white;
}

#search-site{
    background: black;
    color: yellow;
    display: grid;
    grid-template-columns: 40% 40% 40% 40% 40%;
}

#o-logo{
    width: 555px;
    border: 3px solid black;
}

#newsreel{
    background: lightgray;
    display: grid;
    grid-template-rows: 38% 20% 20%;
    border: 3px solid black;
}

#headline{
    border: 1px solid black;
}
#readmore{
    border: 3px solid black;
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: black;
}

main {
    padding: 20px;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}
